@import '_variables';

.auth-wrapper {
    min-height: calc(100vh - 122px);
}

.auth-header {
    border-bottom: 1px solid #ccc;

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        justify-content: flex-end;

        li {
            a {
                display: block;
                line-height: 60px;
                padding: 0 1rem;
                font-size: 1rem;
            }
        }
    }
}

.auth-content {
    min-height: calc(100vh - 122px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
    background-image: linear-gradient(175deg, #fbfbfb 50%, #f3f3f3 50%);

    .card-body {
        border-radius: 30px;
        max-width: 300px;
        position: relative;
        box-shadow: 0 5px 10px $default-color-opacity;

        i.auth-icon {
            position: absolute;
            top: -20px;
            left: 50%;
            transform: translateX(-50%);
            width: 40px;
            height: 40px;
            line-height: 40px;
            background-color: $primary-color;
            text-align: center;
            border-radius: 20px;
            color: #fff;
        }

        h1 {
            font-size: 1.7rem;
            color: $primary-color;
            text-align: center;
            text-transform: uppercase;
            padding: 1rem 0;
        }
    }
}

@media screen and (min-width: 960px) {
    .auth-content {
        .card-body {
            max-width: 360px;
        }
    }
}


.auth-footer {
    border-top: 1px solid #ccc;

    p {
        height: 60px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
    }
}
