$black: 						rgba(#000000,.98);
$navy_blue: 					rgba(#000080,.98);
$dark_blue: 					rgba(#0000c8,.98);
$blue: 							rgba(#0000ff,.98);
$stratos: 						rgba(#000741,.98);
$swamp: 						rgba(#001b1c,.98);
$resolution_blue: 				rgba(#002387,.98);
$deep_fir: 						rgba(#002900,.98);
$burnham: 						rgba(#002e20,.98);
$international_klein_blue: 		rgba(#002fa7,.98);
$prussian_blue: 				rgba(#003153,.98);
$midnight_blue: 				rgba(#003366,.98);
$smalt: 						rgba(#003399,.98);
$deep_teal: 					rgba(#003532,.98);
$cyprus: 						rgba(#003e40,.98);
$kaitoke_green: 				rgba(#004620,.98);
$cobalt: 						rgba(#0047ab,.98);
$crusoe: 						rgba(#004816,.98);
$sherpa_blue: 					rgba(#004950,.98);
$endeavour: 					rgba(#0056a7,.98);
$camarone: 						rgba(#00581a,.98);
$science_blue: 					rgba(#0066cc,.98);
$blue_ribbon: 					rgba(#0066ff,.98);
$tropical_rain_forest: 			rgba(#00755e,.98);
$allports: 						rgba(#0076a3,.98);
$deep_cerulean: 				rgba(#007ba7,.98);
$lochmara: 						rgba(#007ec7,.98);
$azure_radiance: 				rgba(#007fff,.98);
$teal: 							rgba(#008080,.98);
$bondi_blue: 					rgba(#0095b6,.98);
$pacific_blue: 					rgba(#009dc4,.98);
$persian_green: 				rgba(#00a693,.98);
$jade: 							rgba(#00a86b,.98);
$caribbean_green: 				rgba(#00cc99,.98);
$robins_egg_blue: 				rgba(#00cccc,.98);
$green: 						rgba(#00ff00,.98);
$spring_green: 					rgba(#00ff7f,.98);
$cyan_aqua: 					rgba(#00ffff,.98);
$blue_charcoal: 				rgba(#010d1a,.98);
$midnight: 						rgba(#011635,.98);
$holly: 						rgba(#011d13,.98);
$daintree: 						rgba(#012731,.98);
$cardin_green: 					rgba(#01361c,.98);
$county_green: 					rgba(#01371a,.98);
$astronaut_blue: 				rgba(#013e62,.98);
$regal_blue: 					rgba(#013f6a,.98);
$aqua_deep: 					rgba(#014b43,.98);
$orient: 						rgba(#015e85,.98);
$blue_stone: 					rgba(#016162,.98);
$fun_green: 					rgba(#016d39,.98);
$pine_green: 					rgba(#01796f,.98);
$blue_lagoon: 					rgba(#017987,.98);
$deep_sea: 						rgba(#01826b,.98);
$green_haze: 					rgba(#01a368,.98);
$english_holly: 				rgba(#022d15,.98);
$sherwood_green: 				rgba(#02402c,.98);
$congress_blue: 				rgba(#02478e,.98);
$evening_sea: 					rgba(#024e46,.98);
$bahama_blue: 					rgba(#026395,.98);
$observatory: 					rgba(#02866f,.98);
$cerulean: 						rgba(#02a4d3,.98);
$tangaroa: 						rgba(#03163c,.98);
$green_vogue: 					rgba(#032b52,.98);
$mosque: 						rgba(#036a6e,.98);
$midnight_moss: 				rgba(#041004,.98);
$black_pearl: 					rgba(#041322,.98);
$blue_whale: 					rgba(#042e4c,.98);
$zuccini: 						rgba(#044022,.98);
$teal_blue: 					rgba(#044259,.98);
$deep_cove: 					rgba(#051040,.98);
$gulf_blue: 					rgba(#051657,.98);
$venice_blue: 					rgba(#055989,.98);
$watercourse: 					rgba(#056f57,.98);
$catalina_blue: 				rgba(#062a78,.98);
$tiber: 						rgba(#063537,.98);
$gossamer: 						rgba(#069b81,.98);
$niagara: 						rgba(#06a189,.98);
$tarawera: 						rgba(#073a50,.98);
$jaguar: 						rgba(#080110,.98);
$black_bean: 					rgba(#081910,.98);
$deep_sapphire: 				rgba(#082567,.98);
$elf_green: 					rgba(#088370,.98);
$bright_turquoise: 				rgba(#08e8de,.98);
$downriver: 					rgba(#092256,.98);
$palm_green: 					rgba(#09230f,.98);
$madison: 						rgba(#09255d,.98);
$bottle_green: 					rgba(#093624,.98);
$deep_sea_green: 				rgba(#095859,.98);
$salem: 						rgba(#097f4b,.98);
$black_russian: 				rgba(#0a001c,.98);
$dark_fern: 					rgba(#0a480d,.98);
$japanese_laurel: 				rgba(#0a6906,.98);
$atoll: 						rgba(#0a6f75,.98);
$cod_gray: 						rgba(#0b0b0b,.98);
$marshland: 					rgba(#0b0f08,.98);
$gordons_green: 				rgba(#0b1107,.98);
$black_forest: 					rgba(#0b1304,.98);
$san_felix: 					rgba(#0b6207,.98);
$malachite: 					rgba(#0bda51,.98);
$ebony: 						rgba(#0c0b1d,.98);
$woodsmoke: 					rgba(#0c0d0f,.98);
$racing_green: 					rgba(#0c1911,.98);
$surfie_green: 					rgba(#0c7a79,.98);
$blue_chill: 					rgba(#0c8990,.98);
$black_rock: 					rgba(#0d0332,.98);
$bunker: 						rgba(#0d1117,.98);
$aztec: 						rgba(#0d1c19,.98);
$bush: 							rgba(#0d2e1c,.98);
$cinder: 						rgba(#0e0e18,.98);
$firefly: 						rgba(#0e2a30,.98);
$torea_bay: 					rgba(#0f2d9e,.98);
$vulcan: 						rgba(#10121d,.98);
$green_waterloo: 				rgba(#101405,.98);
$eden: 							rgba(#105852,.98);
$arapawa: 						rgba(#110c6c,.98);
$ultramarine: 					rgba(#120a8f,.98);
$elephant: 						rgba(#123447,.98);
$jewel: 						rgba(#126b40,.98);
$diesel: 						rgba(#130000,.98);
$asphalt: 						rgba(#130a06,.98);
$blue_zodiac: 					rgba(#13264d,.98);
$parsley: 						rgba(#134f19,.98);
$nero: 							rgba(#140600,.98);
$tory_blue: 					rgba(#1450aa,.98);
$bunting: 						rgba(#151f4c,.98);
$denim: 						rgba(#1560bd,.98);
$genoa: 						rgba(#15736b,.98);
$mirage: 						rgba(#161928,.98);
$hunter_green: 					rgba(#161d10,.98);
$big_stone: 					rgba(#162a40,.98);
$celtic: 						rgba(#163222,.98);
$timber_green: 					rgba(#16322c,.98);
$gable_green: 					rgba(#163531,.98);
$pine_tree: 					rgba(#171f04,.98);
$chathams_blue: 				rgba(#175579,.98);
$deep_forest_green: 			rgba(#182d09,.98);
$blumine: 						rgba(#18587a,.98);
$palm_leaf: 					rgba(#19330e,.98);
$nile_blue: 					rgba(#193751,.98);
$fun_blue: 						rgba(#1959a8,.98);
$lucky_point: 					rgba(#1a1a68,.98);
$mountain_meadow: 				rgba(#1ab385,.98);
$tolopea: 						rgba(#1b0245,.98);
$haiti: 						rgba(#1b1035,.98);
$deep_koamaru: 					rgba(#1b127b,.98);
$acadia: 						rgba(#1b1404,.98);
$seaweed: 						rgba(#1b2f11,.98);
$biscay: 						rgba(#1b3162,.98);
$matisse: 						rgba(#1b659d,.98);
$crowshead: 					rgba(#1c1208,.98);
$rangoon_green: 				rgba(#1c1e13,.98);
$persian_blue: 					rgba(#1c39bb,.98);
$everglade: 					rgba(#1c402e,.98);
$elm: 							rgba(#1c7c7d,.98);
$green_pea: 					rgba(#1d6142,.98);
$creole: 						rgba(#1e0f04,.98);
$karaka: 						rgba(#1e1609,.98);
$el_paso: 						rgba(#1e1708,.98);
$cello: 						rgba(#1e385b,.98);
$te_papa_green: 				rgba(#1e433c,.98);
$dodger_blue: 					rgba(#1e90ff,.98);
$eastern_blue: 					rgba(#1e9ab0,.98);
$night_rider: 					rgba(#1f120f,.98);
$java: 							rgba(#1fc2c2,.98);
$jacksons_purple: 				rgba(#20208d,.98);
$cloud_burst: 					rgba(#202e54,.98);
$blue_dianne: 					rgba(#204852,.98);
$eternity: 						rgba(#211a0e,.98);
$deep_blue: 					rgba(#220878,.98);
$forest_green: 					rgba(#228b22,.98);
$mallard: 						rgba(#233418,.98);
$violet: 						rgba(#240a40,.98);
$kilamanjaro: 					rgba(#240c02,.98);
$log_cabin: 					rgba(#242a1d,.98);
$black_olive: 					rgba(#242e16,.98);
$green_house: 					rgba(#24500f,.98);
$graphite: 						rgba(#251607,.98);
$cannon_black: 					rgba(#251706,.98);
$port_gore: 					rgba(#251f4f,.98);
$shark: 						rgba(#25272c,.98);
$green_kelp: 					rgba(#25311c,.98);
$curious_blue: 					rgba(#2596d1,.98);
$paua: 							rgba(#260368,.98);
$paris_m: 						rgba(#26056a,.98);
$wood_bark: 					rgba(#261105,.98);
$gondola: 						rgba(#261414,.98);
$steel_gray: 					rgba(#262335,.98);
$ebony_clay: 					rgba(#26283b,.98);
$bay_of_many: 					rgba(#273a81,.98);
$plantation: 					rgba(#27504b,.98);
$eucalyptus: 					rgba(#278a5b,.98);
$oil: 							rgba(#281e15,.98);
$astronaut: 					rgba(#283a77,.98);
$mariner: 						rgba(#286acd,.98);
$violent_violet: 				rgba(#290c5e,.98);
$bastille: 						rgba(#292130,.98);
$zeus: 							rgba(#292319,.98);
$charade: 						rgba(#292937,.98);
$jelly_bean: 					rgba(#297b9a,.98);
$jungle_green: 					rgba(#29ab87,.98);
$cherry_pie: 					rgba(#2a0359,.98);
$coffee_bean: 					rgba(#2a140e,.98);
$baltic_sea: 					rgba(#2a2630,.98);
$turtle_green: 					rgba(#2a380b,.98);
$cerulean_blue: 				rgba(#2a52be,.98);
$sepia_black: 					rgba(#2b0202,.98);
$valhalla: 						rgba(#2b194f,.98);
$heavy_metal: 					rgba(#2b3228,.98);
$blue_gem: 						rgba(#2c0e8c,.98);
$revolver: 						rgba(#2c1632,.98);
$bleached_cedar: 				rgba(#2c2133,.98);
$lochinvar: 					rgba(#2c8c84,.98);
$mikado: 						rgba(#2d2510,.98);
$outer_space: 					rgba(#2d383a,.98);
$st_tropaz: 					rgba(#2d569b,.98);
$jacaranda: 					rgba(#2e0329,.98);
$jacko_bean: 					rgba(#2e1905,.98);
$rangitoto: 					rgba(#2e3222,.98);
$rhino: 						rgba(#2e3f62,.98);
$sea_green: 					rgba(#2e8b57,.98);
$scooter: 						rgba(#2ebfd4,.98);
$onion: 						rgba(#2f270e,.98);
$governor_bay: 					rgba(#2f3cb3,.98);
$sapphire: 						rgba(#2f519e,.98);
$spectra: 						rgba(#2f5a57,.98);
$casal: 						rgba(#2f6168,.98);
$melanzane: 					rgba(#300529,.98);
$cocoa_brown: 					rgba(#301f1e,.98);
$woodrush: 						rgba(#302a0f,.98);
$san_juan: 						rgba(#304b6a,.98);
$turquoise: 					rgba(#30d5c8,.98);
$eclipse: 						rgba(#311c17,.98);
$pickled_bluewood: 				rgba(#314459,.98);
$azure: 						rgba(#315ba1,.98);
$calypso: 						rgba(#31728d,.98);
$paradiso: 						rgba(#317d82,.98);
$persian_indigo: 				rgba(#32127a,.98);
$blackcurrant: 					rgba(#32293a,.98);
$mine_shaft: 					rgba(#323232,.98);
$stromboli: 					rgba(#325d52,.98);
$bilbao: 						rgba(#327c14,.98);
$astral: 						rgba(#327da0,.98);
$christalle: 					rgba(#33036b,.98);
$thunder: 						rgba(#33292f,.98);
$shamrock: 						rgba(#33cc99,.98);
$tamarind: 						rgba(#341515,.98);
$mardi_gras: 					rgba(#350036,.98);
$valentino: 					rgba(#350e42,.98);
$jagger: 						rgba(#350e57,.98);
$tuna: 							rgba(#353542,.98);
$chambray: 						rgba(#354e8c,.98);
$martinique: 					rgba(#363050,.98);
$tuatara: 						rgba(#363534,.98);
$waiouru: 						rgba(#363c0d,.98);
$ming: 							rgba(#36747d,.98);
$la_palma: 						rgba(#368716,.98);
$chocolate: 					rgba(#370202,.98);
$clinker: 						rgba(#371d09,.98);
$brown_tumbleweed: 				rgba(#37290e,.98);
$birch: 						rgba(#373021,.98);
$oracle: 						rgba(#377475,.98);
$blue_diamond: 					rgba(#380474,.98);
$grape: 						rgba(#381a51,.98);
$dune: 							rgba(#383533,.98);
$oxford_blue: 					rgba(#384555,.98);
$clover: 						rgba(#384910,.98);
$limed_spruce: 					rgba(#394851,.98);
$dell: 							rgba(#396413,.98);
$toledo: 						rgba(#3a0020,.98);
$sambuca: 						rgba(#3a2010,.98);
$jacarta: 						rgba(#3a2a6a,.98);
$william: 						rgba(#3a686c,.98);
$killarney: 					rgba(#3a6a47,.98);
$keppel: 						rgba(#3ab09e,.98);
$temptress: 					rgba(#3b000b,.98);
$aubergine: 					rgba(#3b0910,.98);
$jon: 							rgba(#3b1f1f,.98);
$treehouse: 					rgba(#3b2820,.98);
$amazon: 						rgba(#3b7a57,.98);
$boston_blue: 					rgba(#3b91b4,.98);
$windsor: 						rgba(#3c0878,.98);
$rebel: 						rgba(#3c1206,.98);
$meteorite: 					rgba(#3c1f76,.98);
$dark_ebony: 					rgba(#3c2005,.98);
$camouflage: 					rgba(#3c3910,.98);
$bright_gray: 					rgba(#3c4151,.98);
$cape_cod: 						rgba(#3c4443,.98);
$lunar_green: 					rgba(#3c493a,.98);
$bean__: 						rgba(#3d0c02,.98);
$bistre: 						rgba(#3d2b1f,.98);
$goblin: 						rgba(#3d7d52,.98);
$kingfisher_daisy: 				rgba(#3e0480,.98);
$cedar: 						rgba(#3e1c14,.98);
$english_walnut: 				rgba(#3e2b23,.98);
$black_marlin:					rgba(#3e2c1c,.98);
$ship_gray: 					rgba(#3e3a44,.98);
$pelorous: 						rgba(#3eabbf,.98);
$bronze: 						rgba(#3f2109,.98);
$cola: 							rgba(#3f2500,.98);
$madras: 						rgba(#3f3002,.98);
$minsk: 						rgba(#3f307f,.98);
$cabbage_pont: 					rgba(#3f4c3a,.98);
$tom_thumb: 					rgba(#3f583b,.98);
$mineral_green: 				rgba(#3f5d53,.98);
$puerto_rico: 					rgba(#3fc1aa,.98);
$harlequin: 					rgba(#3fff00,.98);
$brown_pod: 					rgba(#401801,.98);
$cork: 							rgba(#40291d,.98);
$masala: 						rgba(#403b38,.98);
$thatch_green: 					rgba(#403d19,.98);
$fiord: 						rgba(#405169,.98);
$viridian: 						rgba(#40826d,.98);
$chateau_green: 				rgba(#40a860,.98);
$ripe_plum: 					rgba(#410056,.98);
$paco: 							rgba(#411f10,.98);
$deep_oak: 						rgba(#412010,.98);
$merlin: 						rgba(#413c37,.98);
$gun_powder: 					rgba(#414257,.98);
$east_bay: 						rgba(#414c7d,.98);
$royal_blue: 					rgba(#4169e1,.98);
$ocean_green: 					rgba(#41aa78,.98);
$burnt_maroon: 					rgba(#420303,.98);
$lisbon_brown: 					rgba(#423921,.98);
$faded_jade: 					rgba(#427977,.98);
$scarlet_gum: 					rgba(#431560,.98);
$iroko: 						rgba(#433120,.98);
$armadillo: 					rgba(#433e37,.98);
$river_bed: 					rgba(#434c59,.98);
$green_leaf: 					rgba(#436a0d,.98);
$barossa: 						rgba(#44012d,.98);
$morocco_brown: 				rgba(#441d00,.98);
$mako: 							rgba(#444954,.98);
$kelp: 							rgba(#454936,.98);
$san_marino: 					rgba(#456cac,.98);
$picton_blue: 					rgba(#45b1e8,.98);
$loulou: 						rgba(#460b41,.98);
$crater_brown: 					rgba(#462425,.98);
$gray_asparagus: 				rgba(#465945,.98);
$steel_blue: 					rgba(#4682b4,.98);
$rustic_red: 					rgba(#480404,.98);
$bulgarian_rose: 				rgba(#480607,.98);
$clairvoyant: 					rgba(#480656,.98);
$cocoa_bean: 					rgba(#481c1c,.98);
$woody_brown: 					rgba(#483131,.98);
$taupe: 						rgba(#483c32,.98);
$van_cleef: 					rgba(#49170c,.98);
$brown_derby: 					rgba(#492615,.98);
$metallic_bronze: 				rgba(#49371b,.98);
$verdun_green: 					rgba(#495400,.98);
$blue_bayoux: 					rgba(#496679,.98);
$bismark: 						rgba(#497183,.98);
$bracken: 						rgba(#4a2a04,.98);
$deep_bronze: 					rgba(#4a3004,.98);
$mondo: 						rgba(#4a3c30,.98);
$tundora: 						rgba(#4a4244,.98);
$gravel: 						rgba(#4a444b,.98);
$trout: 						rgba(#4a4e5a,.98);
$pigment_indigo: 				rgba(#4b0082,.98);
$nandor: 						rgba(#4b5d52,.98);
$saddle: 						rgba(#4c3024,.98);
$abbey: 						rgba(#4c4f56,.98);
$blackberry: 					rgba(#4d0135,.98);
$cab_sav: 						rgba(#4d0a18,.98);
$indian_tan: 					rgba(#4d1e01,.98);
$cowboy: 						rgba(#4d282d,.98);
$livid_brown: 					rgba(#4d282e,.98);
$rock: 							rgba(#4d3833,.98);
$punga: 						rgba(#4d3d14,.98);
$bronzetone: 					rgba(#4d400f,.98);
$woodland: 						rgba(#4d5328,.98);
$mahogany: 						rgba(#4e0606,.98);
$bossanova: 					rgba(#4e2a5a,.98);
$matterhorn: 					rgba(#4e3b41,.98);
$bronze_olive: 					rgba(#4e420c,.98);
$mulled_wine: 					rgba(#4e4562,.98);
$axolotl: 						rgba(#4e6649,.98);
$wedgewood: 					rgba(#4e7f9e,.98);
$shakespeare: 					rgba(#4eabd1,.98);
$honey_flower: 					rgba(#4f1c70,.98);
$daisy_bush: 					rgba(#4f2398,.98);
$indigo: 						rgba(#4f69c6,.98);
$fern_green: 					rgba(#4f7942,.98);
$fruit_salad: 					rgba(#4f9d5d,.98);
$apple: 						rgba(#4fa83d,.98);
$mortar: 						rgba(#504351,.98);
$kashmir_blue: 					rgba(#507096,.98);
$cutty_sark: 					rgba(#507672,.98);
$emerald: 						rgba(#50c878,.98);
$emperor: 						rgba(#514649,.98);
$chalet_green: 					rgba(#516e3d,.98);
$como: 							rgba(#517c66,.98);
$smalt_blue: 					rgba(#51808f,.98);
$castro: 						rgba(#52001f,.98);
$maroon_oak: 					rgba(#520c17,.98);
$gigas: 						rgba(#523c94,.98);
$voodoo: 						rgba(#533455,.98);
$victoria: 						rgba(#534491,.98);
$hippie_green: 					rgba(#53824b,.98);
$heath: 						rgba(#541012,.98);
$judge_gray: 					rgba(#544333,.98);
$fuscous_gray: 					rgba(#54534d,.98);
$vida_loca: 					rgba(#549019,.98);
$cioccolato: 					rgba(#55280c,.98);
$saratoga: 						rgba(#555b10,.98);
$finlandia: 					rgba(#556d56,.98);
$havelock_blue: 				rgba(#5590d9,.98);
$fountain_blue: 				rgba(#56b4be,.98);
$spring_leaves: 				rgba(#578363,.98);
$saddle_brown: 					rgba(#583401,.98);
$scarpa_flow: 					rgba(#585562,.98);
$cactus: 						rgba(#587156,.98);
$hippie_blue: 					rgba(#589aaf,.98);
$wine_berry: 					rgba(#591d35,.98);
$brown_bramble: 				rgba(#592804,.98);
$congo_brown: 					rgba(#593737,.98);
$millbrook: 					rgba(#594433,.98);
$waikawa_gray: 					rgba(#5a6e9c,.98);
$horizon: 						rgba(#5a87a0,.98);
$jambalaya: 					rgba(#5b3013,.98);
$bordeaux: 						rgba(#5c0120,.98);
$mulberry_wood: 				rgba(#5c0536,.98);
$carnaby_tan: 					rgba(#5c2e01,.98);
$comet: 						rgba(#5c5d75,.98);
$redwood: 						rgba(#5d1e0f,.98);
$don_juan: 						rgba(#5d4c51,.98);
$chicago: 						rgba(#5d5c58,.98);
$verdigris: 					rgba(#5d5e37,.98);
$dingley: 						rgba(#5d7747,.98);
$breaker_bay: 					rgba(#5da19f,.98);
$kabul: 						rgba(#5e483e,.98);
$hemlock: 						rgba(#5e5d3b,.98);
$irish_coffee: 					rgba(#5f3d26,.98);
$mid_gray: 						rgba(#5f5f6e,.98);
$shuttle_gray: 					rgba(#5f6672,.98);
$aqua_forest: 					rgba(#5fa777,.98);
$tradewind: 					rgba(#5fb3ac,.98);
$horses_neck: 					rgba(#604913,.98);
$smoky: 						rgba(#605b73,.98);
$corduroy: 						rgba(#606e68,.98);
$danube: 						rgba(#6093d1,.98);
$espresso: 						rgba(#612718,.98);
$eggplant: 						rgba(#614051,.98);
$costa_del_sol: 				rgba(#615d30,.98);
$glade_green: 					rgba(#61845f,.98);
$buccaneer: 					rgba(#622f30,.98);
$quincy: 						rgba(#623f2d,.98);
$butterfly_bush: 				rgba(#624e9a,.98);
$west_coast: 					rgba(#625119,.98);
$finch: 						rgba(#626649,.98);
$patina: 						rgba(#639a8f,.98);
$fern: 							rgba(#63b76c,.98);
$blue_violet: 					rgba(#6456b7,.98);
$dolphin: 						rgba(#646077,.98);
$storm_dust: 					rgba(#646463,.98);
$siam: 							rgba(#646a54,.98);
$nevada: 						rgba(#646e75,.98);
$cornflower_blue: 				rgba(#6495ed,.98);
$viking: 						rgba(#64ccdb,.98);
$rosewood: 						rgba(#65000b,.98);
$cherrywood: 					rgba(#651a14,.98);
$purple_heart: 					rgba(#652dc1,.98);
$fern_frond: 					rgba(#657220,.98);
$willow_grove: 					rgba(#65745d,.98);
$hoki: 							rgba(#65869f,.98);
$pompadour: 					rgba(#660045,.98);
$purple: 						rgba(#660099,.98);
$tyrian_purple: 				rgba(#66023c,.98);
$dark_tan: 						rgba(#661010,.98);
$silver_tree: 					rgba(#66b58f,.98);
$bright_green: 					rgba(#66ff00,.98);
$screamin_green: 				rgba(#66ff66,.98);
$black_rose: 					rgba(#67032d,.98);
$scampi: 						rgba(#675fa6,.98);
$ironside_gray: 				rgba(#676662,.98);
$viridian_green: 				rgba(#678975,.98);
$christi: 						rgba(#67a712,.98);
$nutmeg_wood_finish: 			rgba(#683600,.98);
$zambezi: 						rgba(#685558,.98);
$salt_box: 						rgba(#685e6e,.98);
$tawny_port: 					rgba(#692545,.98);
$finn: 							rgba(#692d54,.98);
$scorpion: 						rgba(#695f62,.98);
$lynch: 						rgba(#697e9a,.98);
$spice: 						rgba(#6a442e,.98);
$himalaya: 						rgba(#6a5d1b,.98);
$soya_bean: 					rgba(#6a6051,.98);
$hairy_heath: 					rgba(#6b2a14,.98);
$royal_purple: 					rgba(#6b3fa0,.98);
$shingle_fawn: 					rgba(#6b4e31,.98);
$dorado: 						rgba(#6b5755,.98);
$bermuda_gray: 					rgba(#6b8ba2,.98);
$olive_drab: 					rgba(#6b8e23,.98);
$eminence: 						rgba(#6c3082,.98);
$turquoise_blue: 				rgba(#6cdae7,.98);
$lonestar: 						rgba(#6d0101,.98);
$pine_cone: 					rgba(#6d5e54,.98);
$dove_gray: 					rgba(#6d6c6c,.98);
$juniper: 						rgba(#6d9292,.98);
$gothic: 						rgba(#6d92a1,.98);
$red_oxide: 					rgba(#6e0902,.98);
$moccaccino: 					rgba(#6e1d14,.98);
$pickled_bean: 					rgba(#6e4826,.98);
$dallas: 						rgba(#6e4b26,.98);
$kokoda: 						rgba(#6e6d57,.98);
$pale_sky: 						rgba(#6e7783,.98);
$cafe_royale: 					rgba(#6f440c,.98);
$flint: 						rgba(#6f6a61,.98);
$highland: 						rgba(#6f8e63,.98);
$limeade: 						rgba(#6f9d02,.98);
$downy: 						rgba(#6fd0c5,.98);
$persian_plum: 					rgba(#701c1c,.98);
$sepia: 						rgba(#704214,.98);
$antique_bronze: 				rgba(#704a07,.98);
$ferra: 						rgba(#704f50,.98);
$coffee: 						rgba(#706555,.98);
$slate_gray: 					rgba(#708090,.98);
$cedar_wood_finish:				rgba(#711a00,.98);
$metallic_copper: 				rgba(#71291d,.98);
$affair: 						rgba(#714693,.98);
$studio: 						rgba(#714ab2,.98);
$tobacco_brown: 				rgba(#715d47,.98);
$yellow_metal: 					rgba(#716338,.98);
$peat: 							rgba(#716b56,.98);
$olivetone: 					rgba(#716e10,.98);
$storm_gray: 					rgba(#717486,.98);
$sirocco: 						rgba(#718080,.98);
$aquamarine_blue: 				rgba(#71d9e2,.98);
$venetian_red: 					rgba(#72010f,.98);
$old_copper: 					rgba(#724a2f,.98);
$go_ben: 						rgba(#726d4e,.98);
$raven: 						rgba(#727b89,.98);
$seance: 						rgba(#731e8f,.98);
$raw_umber: 					rgba(#734a12,.98);
$kimberly: 						rgba(#736c9f,.98);
$crocodile: 					rgba(#736d58,.98);
$crete: 						rgba(#737829,.98);
$xanadu: 						rgba(#738678,.98);
$spicy_mustard: 				rgba(#74640d,.98);
$limed_ash: 					rgba(#747d63,.98);
$rolling_stone: 				rgba(#747d83,.98);
$blue_smoke: 					rgba(#748881,.98);
$laurel: 						rgba(#749378,.98);
$mantis: 						rgba(#74c365,.98);
$russett: 						rgba(#755a57,.98);
$deluge: 						rgba(#7563a8,.98);
$cosmic: 						rgba(#76395d,.98);
$blue_marguerite: 				rgba(#7666c6,.98);
$lima: 							rgba(#76bd17,.98);
$sky_blue: 						rgba(#76d7ea,.98);
$dark_burgundy: 				rgba(#770f05,.98);
$crown_of_thorns: 				rgba(#771f1f,.98);
$walnut: 						rgba(#773f1a,.98);
$pablo: 						rgba(#776f61,.98);
$pacifika: 						rgba(#778120,.98);
$oxley: 						rgba(#779e86,.98);
$pastel_green: 					rgba(#77dd77,.98);
$japanese_maple: 				rgba(#780109,.98);
$mocha: 						rgba(#782d19,.98);
$peanut: 						rgba(#782f16,.98);
$camouflage_green: 				rgba(#78866b,.98);
$wasabi: 						rgba(#788a25,.98);
$ship_cove: 					rgba(#788bba,.98);
$sea_nymph: 					rgba(#78a39c,.98);
$roman_coffee: 					rgba(#795d4c,.98);
$old_lavender: 					rgba(#796878,.98);
$rum: 							rgba(#796989,.98);
$fedora: 						rgba(#796a78,.98);
$sandstone: 					rgba(#796d62,.98);
$spray: 						rgba(#79deec,.98);
$siren: 						rgba(#7a013a,.98);
$fuchsia_blue: 					rgba(#7a58c1,.98);
$boulder: 						rgba(#7a7a7a,.98);
$wild_blue_yonder: 				rgba(#7a89b8,.98);
$de_york: 						rgba(#7ac488,.98);
$red_beech: 					rgba(#7b3801,.98);
$cinnamon: 						rgba(#7b3f00,.98);
$yukon_gold: 					rgba(#7b6608,.98);
$tapa: 							rgba(#7b7874,.98);
$waterloo_: 					rgba(#7b7c94,.98);
$flax_smoke: 					rgba(#7b8265,.98);
$amulet: 						rgba(#7b9f80,.98);
$asparagus: 					rgba(#7ba05b,.98);
$kenyan_copper: 				rgba(#7c1c05,.98);
$pesto: 						rgba(#7c7631,.98);
$topaz: 						rgba(#7c778a,.98);
$concord: 						rgba(#7c7b7a,.98);
$jumbo: 						rgba(#7c7b82,.98);
$trendy_green: 					rgba(#7c881a,.98);
$gumbo: 						rgba(#7ca1a6,.98);
$acapulco: 						rgba(#7cb0a1,.98);
$neptune: 						rgba(#7cb7bb,.98);
$pueblo: 						rgba(#7d2c14,.98);
$bay_leaf: 						rgba(#7da98d,.98);
$malibu: 						rgba(#7dc8f7,.98);
$bermuda: 						rgba(#7dd8c6,.98);
$copper_canyon: 				rgba(#7e3a15,.98);
$claret: 						rgba(#7f1734,.98);
$peru_tan: 						rgba(#7f3a02,.98);
$falcon: 						rgba(#7f626d,.98);
$mobster: 						rgba(#7f7589,.98);
$moody_blue: 					rgba(#7f76d3,.98);
$chartreuse: 					rgba(#7fff00,.98);
$aquamarine: 					rgba(#7fffd4,.98);
$maroon: 						rgba(#800000,.98);
$rose_bud_cherry: 				rgba(#800b47,.98);
$falu_red: 						rgba(#801818,.98);
$red_robin: 					rgba(#80341f,.98);
$vivid_violet: 					rgba(#803790,.98);
$russet: 						rgba(#80461b,.98);
$friar_gray: 					rgba(#807e79,.98);
$olive: 						rgba(#808000,.98);
$gray: 							rgba(#808080,.98);
$gulf_stream: 					rgba(#80b3ae,.98);
$glacier: 						rgba(#80b3c4,.98);
$seagull: 						rgba(#80ccea,.98);
$nutmeg: 						rgba(#81422c,.98);
$spicy_pink: 					rgba(#816e71,.98);
$empress: 						rgba(#817377,.98);
$spanish_green: 				rgba(#819885,.98);
$sand_dune: 					rgba(#826f65,.98);
$gunsmoke: 						rgba(#828685,.98);
$battleship_gray: 				rgba(#828f72,.98);
$merlot: 						rgba(#831923,.98);
$shadow: 						rgba(#837050,.98);
$chelsea_cucumber: 				rgba(#83aa5d,.98);
$monte_carlo:					rgba(#83d0c6,.98);
$plum: 							rgba(#843179,.98);
$granny_smith: 					rgba(#84a0a0,.98);
$chetwode_blue: 				rgba(#8581d9,.98);
$bandicoot: 					rgba(#858470,.98);
$bali_hai: 						rgba(#859faf,.98);
$half_baked: 					rgba(#85c4cc,.98);
$red_devil: 					rgba(#860111,.98);
$lotus: 						rgba(#863c3c,.98);
$ironstone: 					rgba(#86483c,.98);
$bull_shot: 					rgba(#864d1e,.98);
$rusty_nail: 					rgba(#86560a,.98);
$bitter: 						rgba(#868974,.98);
$regent_gray: 					rgba(#86949f,.98);
$disco: 						rgba(#871550,.98);
$americano: 					rgba(#87756e,.98);
$hurricane: 					rgba(#877c7b,.98);
$oslo_gray: 					rgba(#878d91,.98);
$sushi: 						rgba(#87ab39,.98);
$spicy_mix: 					rgba(#885342,.98);
$kumera: 						rgba(#886221,.98);
$suva_gray: 					rgba(#888387,.98);
$avocado: 						rgba(#888d65,.98);
$camelot: 						rgba(#893456,.98);
$solid_pink: 					rgba(#893843,.98);
$cannon_pink: 					rgba(#894367,.98);
$makara: 						rgba(#897d6d,.98);
$burnt_umber: 					rgba(#8a3324,.98);
$true_v: 						rgba(#8a73d6,.98);
$clay_creek: 					rgba(#8a8360,.98);
$monsoon: 						rgba(#8a8389,.98);
$stack: 						rgba(#8a8f8a,.98);
$jordy_blue: 					rgba(#8ab9f1,.98);
$electric_violet: 				rgba(#8b00ff,.98);
$monarch: 						rgba(#8b0723,.98);
$corn_harvest: 					rgba(#8b6b0b,.98);
$olive_haze: 					rgba(#8b8470,.98);
$schooner: 						rgba(#8b847e,.98);
$natural_gray: 					rgba(#8b8680,.98);
$mantle: 						rgba(#8b9c90,.98);
$portage: 						rgba(#8b9fee,.98);
$envy: 							rgba(#8ba690,.98);
$cascade: 						rgba(#8ba9a5,.98);
$riptide: 						rgba(#8be6d8,.98);
$cardinal_pink: 				rgba(#8c055e,.98);
$mule_fawn: 					rgba(#8c472f,.98);
$potters_clay: 					rgba(#8c5738,.98);
$trendy_pink: 					rgba(#8c6495,.98);
$paprika: 						rgba(#8d0226,.98);
$sanguine_brown: 				rgba(#8d3d38,.98);
$tosca: 						rgba(#8d3f3f,.98);
$cement: 						rgba(#8d7662,.98);
$granite_green: 				rgba(#8d8974,.98);
$manatee: 						rgba(#8d90a1,.98);
$polo_blue: 					rgba(#8da8cc,.98);
$red_berry: 					rgba(#8e0000,.98);
$rope: 							rgba(#8e4d1e,.98);
$opium: 						rgba(#8e6f70,.98);
$domino: 						rgba(#8e775e,.98);
$mamba: 						rgba(#8e8190,.98);
$nepal: 						rgba(#8eabc1,.98);
$pohutukawa: 					rgba(#8f021c,.98);
$el_salva: 						rgba(#8f3e33,.98);
$korma: 						rgba(#8f4b0e,.98);
$squirrel: 						rgba(#8f8176,.98);
$vista_blue: 					rgba(#8fd6b4,.98);
$burgundy: 						rgba(#900020,.98);
$old_brick: 					rgba(#901e1e,.98);
$hemp: 							rgba(#907874,.98);
$almond_frost: 					rgba(#907b71,.98);
$sycamore: 						rgba(#908d39,.98);
$sangria: 						rgba(#92000a,.98);
$cumin: 						rgba(#924321,.98);
$beaver: 						rgba(#926f5b,.98);
$stonewall: 					rgba(#928573,.98);
$venus: 						rgba(#928590,.98);
$medium_purple: 				rgba(#9370db,.98);
$cornflower: 					rgba(#93ccea,.98);
$algae_green: 					rgba(#93dfb8,.98);
$copper_rust: 					rgba(#944747,.98);
$arrowtown: 					rgba(#948771,.98);
$scarlett: 						rgba(#950015,.98);
$strikemaster: 					rgba(#956387,.98);
$mountain_mist: 				rgba(#959396,.98);
$carmine: 						rgba(#960018,.98);
$brown: 						rgba(#964b00,.98);
$leather: 						rgba(#967059,.98);
$purple_mountains_majesty: 		rgba(#9678b6,.98);
$lavender_purple: 				rgba(#967bb6,.98);
$pewter: 						rgba(#96a8a1,.98);
$summer_green: 					rgba(#96bbab,.98);
$au_chico: 						rgba(#97605d,.98);
$wisteria: 						rgba(#9771b5,.98);
$atlantis: 						rgba(#97cd2d,.98);
$vin_rouge: 					rgba(#983d61,.98);
$lilac_bush: 					rgba(#9874d3,.98);
$bazaar: 						rgba(#98777b,.98);
$hacienda: 						rgba(#98811b,.98);
$pale_oyster: 					rgba(#988d77,.98);
$mint_green: 					rgba(#98ff98,.98);
$fresh_eggplant: 				rgba(#990066,.98);
$violet_eggplant: 				rgba(#991199,.98);
$tamarillo: 					rgba(#991613,.98);
$totem_pole: 					rgba(#991b07,.98);
$copper_rose: 					rgba(#996666,.98);
$amethyst: 						rgba(#9966cc,.98);
$mountbatten_pink: 				rgba(#997a8d,.98);
$blue_bell: 					rgba(#9999cc,.98);
$prairie_sand: 					rgba(#9a3820,.98);
$toast: 						rgba(#9a6e61,.98);
$gurkha: 						rgba(#9a9577,.98);
$olivine: 						rgba(#9ab973,.98);
$shadow_green: 					rgba(#9ac2b8,.98);
$oregon: 						rgba(#9b4703,.98);
$lemon_grass: 					rgba(#9b9e8f,.98);
$stiletto: 						rgba(#9c3336,.98);
$hawaiian_tan: 					rgba(#9d5616,.98);
$gull_gray: 					rgba(#9dacb7,.98);
$pistachio: 					rgba(#9dc209,.98);
$granny_smith_apple: 			rgba(#9de093,.98);
$anakiwa: 						rgba(#9de5ff,.98);
$chelsea_gem: 					rgba(#9e5302,.98);
$sepia_skin: 					rgba(#9e5b40,.98);
$sage: 							rgba(#9ea587,.98);
$citron: 						rgba(#9ea91f,.98);
$rock_blue: 					rgba(#9eb1cd,.98);
$morning_glory: 				rgba(#9edee0,.98);
$cognac: 						rgba(#9f381d,.98);
$reef_gold: 					rgba(#9f821c,.98);
$star_dust: 					rgba(#9f9f9c,.98);
$santas_gray: 					rgba(#9fa0b1,.98);
$sinbad: 						rgba(#9fd7d3,.98);
$feijoa: 						rgba(#9fdd8c,.98);
$tabasco: 						rgba(#a02712,.98);
$buttered_rum: 					rgba(#a1750d,.98);
$hit_gray: 						rgba(#a1adb5,.98);
$citrus: 						rgba(#a1c50a,.98);
$aqua_island: 					rgba(#a1dad7,.98);
$water_leaf: 					rgba(#a1e9de,.98);
$flirt: 						rgba(#a2006d,.98);
$rouge: 						rgba(#a23b6c,.98);
$cape_palliser: 				rgba(#a26645,.98);
$gray_chateau: 					rgba(#a2aab3,.98);
$edward: 						rgba(#a2aeab,.98);
$pharlap: 						rgba(#a3807b,.98);
$amethyst_smoke: 				rgba(#a397b4,.98);
$blizzard_blue: 				rgba(#a3e3ed,.98);
$delta: 						rgba(#a4a49d,.98);
$wistful: 						rgba(#a4a6d3,.98);
$green_smoke: 					rgba(#a4af6e,.98);
$jazzberry_jam: 				rgba(#a50b5e,.98);
$zorba: 						rgba(#a59b91,.98);
$bahia: 						rgba(#a5cb0c,.98);
$roof_terracotta: 				rgba(#a62f20,.98);
$paarl: 						rgba(#a65529,.98);
$barley_corn: 					rgba(#a68b5b,.98);
$donkey_brown: 					rgba(#a69279,.98);
$dawn: 							rgba(#a6a29a,.98);
$mexican_red: 					rgba(#a72525,.98);
$luxor_gold: 					rgba(#a7882c,.98);
$rich_gold: 					rgba(#a85307,.98);
$reno_sand: 					rgba(#a86515,.98);
$coral_tree: 					rgba(#a86b6b,.98);
$dusty_gray: 					rgba(#a8989b,.98);
$dull_lavender: 				rgba(#a899e6,.98);
$tallow: 						rgba(#a8a589,.98);
$bud: 							rgba(#a8ae9c,.98);
$locust: 						rgba(#a8af8e,.98);
$norway: 						rgba(#a8bd9f,.98);
$chinook: 						rgba(#a8e3bd,.98);
$gray_olive: 					rgba(#a9a491,.98);
$aluminium: 					rgba(#a9acb6,.98);
$cadet_blue: 					rgba(#a9b2c3,.98);
$schist: 						rgba(#a9b497,.98);
$tower_gray: 					rgba(#a9bdbf,.98);
$perano: 						rgba(#a9bef2,.98);
$opal: 							rgba(#a9c6c2,.98);
$night_shadz:					rgba(#aa375a,.98);
$fire: 							rgba(#aa4203,.98);
$muesli: 						rgba(#aa8b5b,.98);
$sandal: 						rgba(#aa8d6f,.98);
$shady_lady: 					rgba(#aaa5a9,.98);
$logan: 						rgba(#aaa9cd,.98);
$spun_pearl: 					rgba(#aaabb7,.98);
$regent_st_blue: 				rgba(#aad6e6,.98);
$magic_mint: 					rgba(#aaf0d1,.98);
$lipstick: 						rgba(#ab0563,.98);
$royal_heath: 					rgba(#ab3472,.98);
$sandrift: 						rgba(#ab917a,.98);
$cold_purple: 					rgba(#aba0d9,.98);
$bronco: 						rgba(#aba196,.98);
$limed_oak: 					rgba(#ac8a56,.98);
$east_side: 					rgba(#ac91ce,.98);
$lemon_ginger: 					rgba(#ac9e22,.98);
$napa: 							rgba(#aca494,.98);
$hillary: 						rgba(#aca586,.98);
$cloudy: 						rgba(#aca59f,.98);
$silver_chalice: 				rgba(#acacac,.98);
$swamp_green: 					rgba(#acb78e,.98);
$spring_rain: 					rgba(#accbb1,.98);
$conifer: 						rgba(#acdd4d,.98);
$celadon: 						rgba(#ace1af,.98);
$mandalay: 						rgba(#ad781b,.98);
$casper: 						rgba(#adbed1,.98);
$moss_green: 					rgba(#addfad,.98);
$padua: 						rgba(#ade6c4,.98);
$green_yellow: 					rgba(#adff2f,.98);
$hippie_pink: 					rgba(#ae4560,.98);
$desert: 						rgba(#ae6020,.98);
$bouquet: 						rgba(#ae809e,.98);
$medium_carmine: 				rgba(#af4035,.98);
$apple_blossom: 				rgba(#af4d43,.98);
$brown_rust: 					rgba(#af593e,.98);
$driftwood: 					rgba(#af8751,.98);
$alpine: 						rgba(#af8f2c,.98);
$lucky: 						rgba(#af9f1c,.98);
$martini: 						rgba(#afa09e,.98);
$bombay: 						rgba(#afb1b8,.98);
$pigeon_post: 					rgba(#afbdd9,.98);
$cadillac: 						rgba(#b04c6a,.98);
$matrix: 						rgba(#b05d54,.98);
$tapestry: 						rgba(#b05e81,.98);
$mai_tai: 						rgba(#b06608,.98);
$del_rio: 						rgba(#b09a95,.98);
$powder_blue: 					rgba(#b0e0e6,.98);
$inch_worm: 					rgba(#b0e313,.98);
$bright_red: 					rgba(#b10000,.98);
$vesuvius: 						rgba(#b14a0b,.98);
$pumpkin_skin: 					rgba(#b1610b,.98);
$santa_fe: 						rgba(#b16d52,.98);
$teak: 							rgba(#b19461,.98);
$fringy_flower: 				rgba(#b1e2c1,.98);
$ice_cold: 						rgba(#b1f4e7,.98);
$shiraz: 						rgba(#b20931,.98);
$biloba_flower: 				rgba(#b2a1ea,.98);
$tall_poppy: 					rgba(#b32d29,.98);
$fiery_orange: 					rgba(#b35213,.98);
$hot_toddy: 					rgba(#b38007,.98);
$taupe_gray: 					rgba(#b3af95,.98);
$la_rioja: 						rgba(#b3c110,.98);
$well_read: 					rgba(#b43332,.98);
$blush: 						rgba(#b44668,.98);
$jungle_mist: 					rgba(#b4cfd3,.98);
$turkish_rose: 					rgba(#b57281,.98);
$lavender: 						rgba(#b57edc,.98);
$mongoose: 						rgba(#b5a27f,.98);
$olive_green: 					rgba(#b5b35c,.98);
$jet_stream: 					rgba(#b5d2ce,.98);
$cruise: 						rgba(#b5ecdf,.98);
$hibiscus: 						rgba(#b6316c,.98);
$thatch: 						rgba(#b69d98,.98);
$heathered_gray: 				rgba(#b6b095,.98);
$eagle: 						rgba(#b6baa4,.98);
$spindle: 						rgba(#b6d1ea,.98);
$gum_leaf: 						rgba(#b6d3bf,.98);
$rust: 							rgba(#b7410e,.98);
$muddy_waters: 					rgba(#b78e5c,.98);
$sahara: 						rgba(#b7a214,.98);
$husk: 							rgba(#b7a458,.98);
$nobel: 						rgba(#b7b1b1,.98);
$heather: 						rgba(#b7c3d0,.98);
$madang: 						rgba(#b7f0be,.98);
$milano_red: 					rgba(#b81104,.98);
$copper: 						rgba(#b87333,.98);
$gimblet: 						rgba(#b8b56a,.98);
$green_spring: 					rgba(#b8c1b1,.98);
$celery: 						rgba(#b8c25d,.98);
$sail: 							rgba(#b8e0f9,.98);
$chestnut: 						rgba(#b94e48,.98);
$crail: 						rgba(#b95140,.98);
$marigold: 						rgba(#b98d28,.98);
$wild_willow: 					rgba(#b9c46a,.98);
$rainee: 						rgba(#b9c8ac,.98);
$guardsman_red: 				rgba(#ba0101,.98);
$rock_spray: 					rgba(#ba450c,.98);
$bourbon: 						rgba(#ba6f1e,.98);
$pirate_gold: 					rgba(#ba7f03,.98);
$nomad: 						rgba(#bab1a2,.98);
$submarine: 					rgba(#bac7c9,.98);
$charlotte: 					rgba(#baeef9,.98);
$medium_red_violet:				rgba(#bb3385,.98);
$brandy_rose: 					rgba(#bb8983,.98);
$rio_grande: 					rgba(#bbd009,.98);
$surf: 							rgba(#bbd7c1,.98);
$powder_ash: 					rgba(#bcc9c2,.98);
$tuscany: 						rgba(#bd5e2e,.98);
$quicksand: 					rgba(#bd978e,.98);
$silk: 							rgba(#bdb1a8,.98);
$malta: 						rgba(#bdb2a1,.98);
$chatelle: 						rgba(#bdb3c7,.98);
$lavender_gray: 				rgba(#bdbbd7,.98);
$french_gray: 					rgba(#bdbdc6,.98);
$clay_ash: 						rgba(#bdc8b3,.98);
$loblolly: 						rgba(#bdc9ce,.98);
$french_pass: 					rgba(#bdedfd,.98);
$london_hue: 					rgba(#bea6c3,.98);
$pink_swan: 					rgba(#beb5b7,.98);
$fuego: 						rgba(#bede0d,.98);
$rose_of_sharon: 				rgba(#bf5500,.98);
$tide: 							rgba(#bfb8b0,.98);
$blue_haze: 					rgba(#bfbed8,.98);
$silver_sand: 					rgba(#bfc1c2,.98);
$key_lime_pie: 					rgba(#bfc921,.98);
$ziggurat: 						rgba(#bfdbe2,.98);
$lime: 							rgba(#bfff00,.98);
$thunderbird: 					rgba(#c02b18,.98);
$mojo: 							rgba(#c04737,.98);
$old_rose: 						rgba(#c08081,.98);
$silver: 						rgba(#c0c0c0,.98);
$pale_leaf: 					rgba(#c0d3b9,.98);
$pixie_green: 					rgba(#c0d8b6,.98);
$tia_maria: 					rgba(#c1440e,.98);
$fuchsia_pink: 					rgba(#c154c1,.98);
$buddha_gold: 					rgba(#c1a004,.98);
$bison_hide: 					rgba(#c1b7a4,.98);
$tea: 							rgba(#c1bab0,.98);
$gray_suit: 					rgba(#c1becd,.98);
$sprout: 						rgba(#c1d7b0,.98);
$sulu: 							rgba(#c1f07c,.98);
$indochine: 					rgba(#c26b03,.98);
$twine: 						rgba(#c2955d,.98);
$cotton_seed: 					rgba(#c2bdb6,.98);
$pumice: 						rgba(#c2cac4,.98);
$jagged_ice: 					rgba(#c2e8e5,.98);
$maroon_flush: 					rgba(#c32148,.98);
$indian_khaki: 					rgba(#c3b091,.98);
$pale_slate: 					rgba(#c3bfc1,.98);
$gray_nickel: 					rgba(#c3c3bd,.98);
$periwinkle_gray: 				rgba(#c3cde6,.98);
$tiara: 						rgba(#c3d1d1,.98);
$tropical_blue: 				rgba(#c3ddf9,.98);
$cardinal: 						rgba(#c41e3a,.98);
$fuzzy_wuzzy_brown: 			rgba(#c45655,.98);
$orange_roughy: 				rgba(#c45719,.98);
$mist_gray: 					rgba(#c4c4bc,.98);
$coriander: 					rgba(#c4d0b0,.98);
$mint_tulip: 					rgba(#c4f4eb,.98);
$mulberry: 						rgba(#c54b8c,.98);
$nugget: 						rgba(#c59922,.98);
$tussock: 						rgba(#c5994b,.98);
$sea_mist: 						rgba(#c5dbca,.98);
$yellow_green: 					rgba(#c5e17a,.98);
$brick_red: 					rgba(#c62d42,.98);
$contessa: 						rgba(#c6726b,.98);
$oriental_pink: 				rgba(#c69191,.98);
$roti: 							rgba(#c6a84b,.98);
$ash: 							rgba(#c6c3b5,.98);
$kangaroo: 						rgba(#c6c8bd,.98);
$las_palmas: 					rgba(#c6e610,.98);
$monza: 						rgba(#c7031e,.98);
$red_violet: 					rgba(#c71585,.98);
$coral_reef: 					rgba(#c7bca2,.98);
$melrose: 						rgba(#c7c1ff,.98);
$cloud: 						rgba(#c7c4bf,.98);
$ghost: 						rgba(#c7c9d5,.98);
$pine_glade: 					rgba(#c7cd90,.98);
$botticelli: 					rgba(#c7dde5,.98);
$antique_brass: 				rgba(#c88a65,.98);
$lilac: 						rgba(#c8a2c8,.98);
$hokey_pokey: 					rgba(#c8a528,.98);
$lily: 							rgba(#c8aabf,.98);
$laser: 						rgba(#c8b568,.98);
$edgewater: 					rgba(#c8e3d7,.98);
$piper: 						rgba(#c96323,.98);
$pizza: 						rgba(#c99415,.98);
$light_wisteria: 				rgba(#c9a0dc,.98);
$rodeo_dust: 					rgba(#c9b29b,.98);
$sundance: 						rgba(#c9b35b,.98);
$earls_green: 					rgba(#c9b93b,.98);
$silver_rust: 					rgba(#c9c0bb,.98);
$conch: 						rgba(#c9d9d2,.98);
$reef: 							rgba(#c9ffa2,.98);
$aero_blue: 					rgba(#c9ffe5,.98);
$flush_mahogany: 				rgba(#ca3435,.98);
$turmeric: 						rgba(#cabb48,.98);
$paris_white: 					rgba(#cadcd4,.98);
$bitter_lemon: 					rgba(#cae00d,.98);
$skeptic: 						rgba(#cae6da,.98);
$viola: 						rgba(#cb8fa9,.98);
$foggy_gray: 					rgba(#cbcab6,.98);
$green_mist: 					rgba(#cbd3b0,.98);
$nebula: 						rgba(#cbdbd6,.98);
$persian_red: 					rgba(#cc3333,.98);
$burnt_orange: 					rgba(#cc5500,.98);
$ochre: 						rgba(#cc7722,.98);
$puce: 							rgba(#cc8899,.98);
$thistle_green: 				rgba(#cccaa8,.98);
$periwinkle: 					rgba(#ccccff,.98);
$electric_lime: 				rgba(#ccff00,.98);
$tenn: 							rgba(#cd5700,.98);
$chestnut_rose: 				rgba(#cd5c5c,.98);
$brandy_punch: 					rgba(#cd8429,.98);
$onahau: 						rgba(#cdf4ff,.98);
$sorrell_brown: 				rgba(#ceb98f,.98);
$cold_turkey: 					rgba(#cebaba,.98);
$yuma: 							rgba(#cec291,.98);
$chino: 						rgba(#cec7a7,.98);
$eunry: 						rgba(#cfa39d,.98);
$old_gold: 						rgba(#cfb53b,.98);
$tasman: 						rgba(#cfdccf,.98);
$surf_crest: 					rgba(#cfe5d2,.98);
$humming_bird: 					rgba(#cff9f3,.98);
$scandal: 						rgba(#cffaf4,.98);
$red_stage: 					rgba(#d05f04,.98);
$hopbush: 						rgba(#d06da1,.98);
$meteor: 						rgba(#d07d12,.98);
$perfume: 						rgba(#d0bef8,.98);
$prelude: 						rgba(#d0c0e5,.98);
$tea_green: 					rgba(#d0f0c0,.98);
$geebung: 						rgba(#d18f1b,.98);
$vanilla: 						rgba(#d1bea8,.98);
$soft_amber: 					rgba(#d1c6b4,.98);
$celeste: 						rgba(#d1d2ca,.98);
$mischka: 						rgba(#d1d2dd,.98);
$pear: 							rgba(#d1e231,.98);
$hot_cinnamon: 					rgba(#d2691e,.98);
$raw_sienna: 					rgba(#d27d46,.98);
$careys_pink: 					rgba(#d29eaa,.98);
$tan: 							rgba(#d2b48c,.98);
$deco: 							rgba(#d2da97,.98);
$blue_romance: 					rgba(#d2f6de,.98);
$gossip: 						rgba(#d2f8b0,.98);
$sisal: 						rgba(#d3cbba,.98);
$swirl: 						rgba(#d3cdc5,.98);
$charm: 						rgba(#d47494,.98);
$clam_shell: 					rgba(#d4b6af,.98);
$straw: 						rgba(#d4bf8d,.98);
$akaroa: 						rgba(#d4c4a8,.98);
$bird_flower: 					rgba(#d4cd16,.98);
$iron: 							rgba(#d4d7d9,.98);
$geyser: 						rgba(#d4dfe2,.98);
$hawkes_blue: 					rgba(#d4e2fc,.98);
$grenadier: 					rgba(#d54600,.98);
$can_can: 						rgba(#d591a4,.98);
$whiskey: 						rgba(#d59a6f,.98);
$winter_hazel: 					rgba(#d5d195,.98);
$granny_apple: 					rgba(#d5f6e3,.98);
$my_pink: 						rgba(#d69188,.98);
$tacha: 						rgba(#d6c562,.98);
$moon_raker: 					rgba(#d6cef6,.98);
$quill_gray: 					rgba(#d6d6d1,.98);
$snowy_mint: 					rgba(#d6ffdb,.98);
$new_york_pink: 				rgba(#d7837f,.98);
$pavlova: 						rgba(#d7c498,.98);
$fog: 							rgba(#d7d0ff,.98);
$valencia: 						rgba(#d84437,.98);
$japonica: 						rgba(#d87c63,.98);
$thistle: 						rgba(#d8bfd8,.98);
$maverick: 						rgba(#d8c2d5,.98);
$foam: 							rgba(#d8fcfa,.98);
$cabaret: 						rgba(#d94972,.98);
$burning_sand: 					rgba(#d99376,.98);
$cameo: 						rgba(#d9b99b,.98);
$timberwolf: 					rgba(#d9d6cf,.98);
$tana: 							rgba(#d9dcc1,.98);
$link_water: 					rgba(#d9e4f5,.98);
$mabel: 						rgba(#d9f7ff,.98);
$cerise: 						rgba(#da3287,.98);
$flame_pea: 					rgba(#da5b38,.98);
$bamboo: 						rgba(#da6304,.98);
$red_damask: 					rgba(#da6a41,.98);
$orchid: 						rgba(#da70d6,.98);
$copperfield: 					rgba(#da8a67,.98);
$golden_grass: 					rgba(#daa520,.98);
$zanah: 						rgba(#daecd6,.98);
$iceberg: 						rgba(#daf4f0,.98);
$oyster_bay: 					rgba(#dafaff,.98);
$cranberry: 					rgba(#db5079,.98);
$petite_orchid: 				rgba(#db9690,.98);
$di_serria: 					rgba(#db995e,.98);
$alto: 							rgba(#dbdbdb,.98);
$frosted_mint: 					rgba(#dbfff8,.98);
$crimson: 						rgba(#dc143c,.98);
$punch: 						rgba(#dc4333,.98);
$galliano: 						rgba(#dcb20c,.98);
$blossom: 						rgba(#dcb4bc,.98);
$wattle: 						rgba(#dcd747,.98);
$westar: 						rgba(#dcd9d2,.98);
$moon_mist: 					rgba(#dcddcc,.98);
$caper: 						rgba(#dcedb4,.98);
$swans_down: 					rgba(#dcf0ea,.98);
$swiss_coffee: 					rgba(#ddd6d5,.98);
$white_ice: 					rgba(#ddf9f1,.98);
$cerise_red: 					rgba(#de3163,.98);
$roman: 						rgba(#de6360,.98);
$tumbleweed: 					rgba(#dea681,.98);
$gold_tips: 					rgba(#deba13,.98);
$brandy: 						rgba(#dec196,.98);
$wafer: 						rgba(#decbc6,.98);
$sapling: 						rgba(#ded4a4,.98);
$barberry: 						rgba(#ded717,.98);
$beryl_green: 					rgba(#dee5c0,.98);
$pattens_blue: 					rgba(#def5ff,.98);
$heliotrope: 					rgba(#df73ff,.98);
$apache: 						rgba(#dfbe6f,.98);
$chenin: 						rgba(#dfcd6f,.98);
$lola: 							rgba(#dfcfdb,.98);
$willow_brook: 					rgba(#dfecda,.98);
$chartreuse_yellow: 			rgba(#dfff00,.98);
$mauve: 						rgba(#e0b0ff,.98);
$anzac: 						rgba(#e0b646,.98);
$harvest_gold: 					rgba(#e0b974,.98);
$calico: 						rgba(#e0c095,.98);
$baby_blue: 					rgba(#e0ffff,.98);
$sunglo: 						rgba(#e16865,.98);
$equator: 						rgba(#e1bc64,.98);
$pink_flare: 					rgba(#e1c0c8,.98);
$periglacial_blue: 				rgba(#e1e6d6,.98);
$kidnapper: 					rgba(#e1ead4,.98);
$tara: 							rgba(#e1f6e8,.98);
$mandy: 						rgba(#e25465,.98);
$terracotta: 					rgba(#e2725b,.98);
$golden_bell: 					rgba(#e28913,.98);
$shocking: 						rgba(#e292c0,.98);
$dixie: 						rgba(#e29418,.98);
$light_orchid: 					rgba(#e29cd2,.98);
$snuff: 						rgba(#e2d8ed,.98);
$mystic: 						rgba(#e2ebed,.98);
$apple_green: 					rgba(#e2f3ec,.98);
$razzmatazz: 					rgba(#e30b5c,.98);
$alizarin_crimson: 				rgba(#e32636,.98);
$cinnabar: 						rgba(#e34234,.98);
$cavern_pink: 					rgba(#e3bebe,.98);
$peppermint: 					rgba(#e3f5e1,.98);
$mindaro: 						rgba(#e3f988,.98);
$deep_blush: 					rgba(#e47698,.98);
$gamboge: 						rgba(#e49b0f,.98);
$melanie: 						rgba(#e4c2d5,.98);
$twilight: 						rgba(#e4cfde,.98);
$bone: 							rgba(#e4d1c0,.98);
$sunflower: 					rgba(#e4d422,.98);
$grain_brown: 					rgba(#e4d5b7,.98);
$zombie: 						rgba(#e4d69b,.98);
$frostee: 						rgba(#e4f6e7,.98);
$snow_flurry: 					rgba(#e4ffd1,.98);
$amaranth: 						rgba(#e52b50,.98);
$zest: 							rgba(#e5841b,.98);
$dust_storm: 					rgba(#e5ccc9,.98);
$stark_white: 					rgba(#e5d7bd,.98);
$hampton: 						rgba(#e5d8af,.98);
$bon_jour: 						rgba(#e5e0e1,.98);
$mercury: 						rgba(#e5e5e5,.98);
$polar: 						rgba(#e5f9f6,.98);
$trinidad: 						rgba(#e64e03,.98);
$gold_sand: 					rgba(#e6be8a,.98);
$cashmere: 						rgba(#e6bea5,.98);
$double_spanish_white: 			rgba(#e6d7b9,.98);
$satin_linen: 					rgba(#e6e4d4,.98);
$harp: 							rgba(#e6f2ea,.98);
$off_green: 					rgba(#e6f8f3,.98);
$hint_of_green: 				rgba(#e6ffe9,.98);
$tranquil: 						rgba(#e6ffff,.98);
$mango_tango: 					rgba(#e77200,.98);
$christine: 					rgba(#e7730a,.98);
$tonys_pink: 					rgba(#e79f8c,.98);
$kobi: 							rgba(#e79fc4,.98);
$rose_fog: 						rgba(#e7bcb4,.98);
$corn: 							rgba(#e7bf05,.98);
$putty: 						rgba(#e7cd8c,.98);
$gray_nurse: 					rgba(#e7ece6,.98);
$lily_white: 					rgba(#e7f8ff,.98);
$bubbles: 						rgba(#e7feff,.98);
$fire_bush: 					rgba(#e89928,.98);
$shilo: 						rgba(#e8b9b3,.98);
$pearl_bush: 					rgba(#e8e0d5,.98);
$green_white: 					rgba(#e8ebe0,.98);
$chrome_white: 					rgba(#e8f1d4,.98);
$gin: 							rgba(#e8f2eb,.98);
$aqua_squeeze: 					rgba(#e8f5f2,.98);
$clementine: 					rgba(#e96e00,.98);
$burnt_sienna: 					rgba(#e97451,.98);
$tahiti_gold: 					rgba(#e97c07,.98);
$oyster_pink: 					rgba(#e9cecd,.98);
$confetti: 						rgba(#e9d75a,.98);
$ebb: 							rgba(#e9e3e3,.98);
$ottoman: 						rgba(#e9f8ed,.98);
$clear_day: 					rgba(#e9fffd,.98);
$carissma: 						rgba(#ea88a8,.98);
$porsche: 						rgba(#eaae69,.98);
$tulip_tree: 					rgba(#eab33b,.98);
$rob_roy: 						rgba(#eac674,.98);
$raffia: 						rgba(#eadab8,.98);
$white_rock: 					rgba(#eae8d4,.98);
$panache: 						rgba(#eaf6ee,.98);
$solitude: 						rgba(#eaf6ff,.98);
$aqua_spring: 					rgba(#eaf9f5,.98);
$dew: 							rgba(#eafffe,.98);
$apricot: 						rgba(#eb9373,.98);
$zinnwaldite: 					rgba(#ebc2af,.98);
$fuel_yellow: 					rgba(#eca927,.98);
$ronchi: 						rgba(#ecc54e,.98);
$french_lilac: 					rgba(#ecc7ee,.98);
$just_right: 					rgba(#eccdb9,.98);
$wild_rice: 					rgba(#ece090,.98);
$fall_green: 					rgba(#ecebbd,.98);
$aths_special: 					rgba(#ecebce,.98);
$starship: 						rgba(#ecf245,.98);
$red_ribbon: 					rgba(#ed0a3f,.98);
$tango: 						rgba(#ed7a1c,.98);
$carrot_orange: 				rgba(#ed9121,.98);
$sea_pink: 						rgba(#ed989e,.98);
$tacao: 						rgba(#edb381,.98);
$desert_sand: 					rgba(#edc9af,.98);
$pancho: 						rgba(#edcdab,.98);
$chamois: 						rgba(#eddcb1,.98);
$primrose: 						rgba(#edea99,.98);
$frost: 						rgba(#edf5dd,.98);
$aqua_haze: 					rgba(#edf5f5,.98);
$zumthor: 						rgba(#edf6ff,.98);
$narvik: 						rgba(#edf9f1,.98);
$honeysuckle: 					rgba(#edfc84,.98);
$lavender_magenta:				rgba(#ee82ee,.98);
$beauty_bush: 					rgba(#eec1be,.98);
$chalky: 						rgba(#eed794,.98);
$almond: 						rgba(#eed9c4,.98);
$flax: 							rgba(#eedc82,.98);
$bizarre: 						rgba(#eededa,.98);
$double_colonial_white: 		rgba(#eee3ad,.98);
$cararra: 						rgba(#eeeee8,.98);
$manz: 							rgba(#eeef78,.98);
$tahuna_sands: 					rgba(#eef0c8,.98);
$athens_gray: 					rgba(#eef0f3,.98);
$tusk: 							rgba(#eef3c3,.98);
$loafer: 						rgba(#eef4de,.98);
$catskill_white: 				rgba(#eef6f7,.98);
$twilight_blue: 				rgba(#eefdff,.98);
$jonquil: 						rgba(#eeff9a,.98);
$rice_flower: 					rgba(#eeffe2,.98);
$jaffa: 						rgba(#ef863f,.98);
$gallery: 						rgba(#efefef,.98);
$porcelain: 					rgba(#eff2f3,.98);
$mauvelous: 					rgba(#f091a9,.98);
$golden_dream: 					rgba(#f0d52d,.98);
$golden_sand: 					rgba(#f0db7d,.98);
$buff: 							rgba(#f0dc82,.98);
$prim: 							rgba(#f0e2ec,.98);
$khaki: 						rgba(#f0e68c,.98);
$selago: 						rgba(#f0eefd,.98);
$titan_white: 					rgba(#f0eeff,.98);
$alice_blue: 					rgba(#f0f8ff,.98);
$feta: 							rgba(#f0fcea,.98);
$gold_drop: 					rgba(#f18200,.98);
$wewak: 						rgba(#f19bab,.98);
$sahara_sand: 					rgba(#f1e788,.98);
$parchment: 					rgba(#f1e9d2,.98);
$blue_chalk: 					rgba(#f1e9ff,.98);
$mint_julep: 					rgba(#f1eec1,.98);
$seashell: 						rgba(#f1f1f1,.98);
$saltpan: 						rgba(#f1f7f2,.98);
$tidal: 						rgba(#f1ffad,.98);
$chiffon: 						rgba(#f1ffc8,.98);
$flamingo: 						rgba(#f2552a,.98);
$tangerine: 					rgba(#f28500,.98);
$mandys_pink: 					rgba(#f2c3b2,.98);
$concrete: 						rgba(#f2f2f2,.98);
$black_squeeze: 				rgba(#f2fafa,.98);
$pomegranate: 					rgba(#f34723,.98);
$buttercup: 					rgba(#f3ad16,.98);
$new_orleans: 					rgba(#f3d69d,.98);
$vanilla_ice: 					rgba(#f3d9df,.98);
$sidecar: 						rgba(#f3e7bb,.98);
$dawn_pink: 					rgba(#f3e9e5,.98);
$wheatfield: 					rgba(#f3edcf,.98);
$canary: 						rgba(#f3fb62,.98);
$orinoco: 						rgba(#f3fbd4,.98);
$carla: 						rgba(#f3ffd8,.98);
$hollywood_cerise: 				rgba(#f400a1,.98);
$sandy_brown: 					rgba(#f4a460,.98);
$saffron: 						rgba(#f4c430,.98);
$ripe_lemon: 					rgba(#f4d81c,.98);
$janna: 						rgba(#f4ebd3,.98);
$pampas: 						rgba(#f4f2ee,.98);
$wild_sand: 					rgba(#f4f4f4,.98);
$zircon: 						rgba(#f4f8ff,.98);
$froly: 						rgba(#f57584,.98);
$cream_can: 					rgba(#f5c85c,.98);
$manhattan: 					rgba(#f5c999,.98);
$maize: 						rgba(#f5d5a0,.98);
$wheat: 						rgba(#f5deb3,.98);
$sandwisp: 						rgba(#f5e7a2,.98);
$pot_pourri:					rgba(#f5e7e2,.98);
$albescent_white: 				rgba(#f5e9d3,.98);
$soft_peach: 					rgba(#f5edef,.98);
$ecru_white: 					rgba(#f5f3e5,.98);
$beige: 						rgba(#f5f5dc,.98);
$golden_fizz: 					rgba(#f5fb3d,.98);
$australian_mint: 				rgba(#f5ffbe,.98);
$french_rose: 					rgba(#f64a8a,.98);
$brilliant_rose: 				rgba(#f653a6,.98);
$illusion: 						rgba(#f6a4c9,.98);
$merino: 						rgba(#f6f0e6,.98);
$black_haze: 					rgba(#f6f7f7,.98);
$spring_sun: 					rgba(#f6ffdc,.98);
$violet_red: 					rgba(#f7468a,.98);
$chilean_fire: 					rgba(#f77703,.98);
$persian_pink: 					rgba(#f77fbe,.98);
$rajah: 						rgba(#f7b668,.98);
$azalea: 						rgba(#f7c8da,.98);
$we_peep: 						rgba(#f7dbe6,.98);
$quarter_spanish_white: 		rgba(#f7f2e1,.98);
$whisper: 						rgba(#f7f5fa,.98);
$snow_drift: 					rgba(#f7faf7,.98);
$casablanca: 					rgba(#f8b853,.98);
$chantilly: 					rgba(#f8c3df,.98);
$cherub: 						rgba(#f8d9e9,.98);
$marzipan: 						rgba(#f8db9d,.98);
$energy_yellow: 				rgba(#f8dd5c,.98);
$givry: 						rgba(#f8e4bf,.98);
$white_linen: 					rgba(#f8f0e8,.98);
$magnolia: 						rgba(#f8f4ff,.98);
$spring_wood: 					rgba(#f8f6f1,.98);
$coconut_cream: 				rgba(#f8f7dc,.98);
$white_lilac: 					rgba(#f8f7fc,.98);
$desert_storm: 					rgba(#f8f8f7,.98);
$texas: 						rgba(#f8f99c,.98);
$corn_field: 					rgba(#f8facd,.98);
$mimosa: 						rgba(#f8fdd3,.98);
$carnation: 					rgba(#f95a61,.98);
$saffron_mango: 				rgba(#f9bf58,.98);
$carousel_pink: 				rgba(#f9e0ed,.98);
$dairy_cream: 					rgba(#f9e4bc,.98);
$portica: 						rgba(#f9e663,.98);
$underage_pink: 				rgba(#f9e6f4,.98);
$amour: 						rgba(#f9eaf3,.98);
$rum_swizzle: 					rgba(#f9f8e4,.98);
$dolly: 						rgba(#f9ff8b,.98);
$sugar_cane: 					rgba(#f9fff6,.98);
$ecstasy: 						rgba(#fa7814,.98);
$tan_hide: 						rgba(#fa9d5a,.98);
$corvette: 						rgba(#fad3a2,.98);
$peach_yellow: 					rgba(#fadfad,.98);
$turbo: 						rgba(#fae600,.98);
$astra: 						rgba(#faeab9,.98);
$champagne: 					rgba(#faeccc,.98);
$linen: 						rgba(#faf0e6,.98);
$fantasy: 						rgba(#faf3f0,.98);
$citrine_white: 				rgba(#faf7d6,.98);
$alabaster: 					rgba(#fafafa,.98);
$hint_of_yellow: 				rgba(#fafde4,.98);
$milan: 						rgba(#faffa4,.98);
$brink_pink: 					rgba(#fb607f,.98);
$geraldine: 					rgba(#fb8989,.98);
$lavender_rose: 				rgba(#fba0e3,.98);
$sea_buckthorn: 				rgba(#fba129,.98);
$sun: 							rgba(#fbac13,.98);
$lavender_pink: 				rgba(#fbaed2,.98);
$rose_bud: 						rgba(#fbb2a3,.98);
$cupid: 						rgba(#fbbeda,.98);
$classic_rose: 					rgba(#fbcce7,.98);
$apricot_peach: 				rgba(#fbceb1,.98);
$banana_mania: 					rgba(#fbe7b2,.98);
$marigold_yellow: 				rgba(#fbe870,.98);
$festival: 						rgba(#fbe96c,.98);
$sweet_corn: 					rgba(#fbea8c,.98);
$candy_corn: 					rgba(#fbec5d,.98);
$hint_of_red: 					rgba(#fbf9f9,.98);
$shalimar: 						rgba(#fbffba,.98);
$shocking_pink: 				rgba(#fc0fc0,.98);
$tickle_me_pink: 				rgba(#fc80a5,.98);
$tree_poppy: 					rgba(#fc9c1d,.98);
$lightning_yellow: 				rgba(#fcc01e,.98);
$goldenrod: 					rgba(#fcd667,.98);
$candlelight: 					rgba(#fcd917,.98);
$cherokee: 						rgba(#fcda98,.98);
$double_pearl_lusta: 			rgba(#fcf4d0,.98);
$pearl_lusta: 					rgba(#fcf4dc,.98);
$vista_white: 					rgba(#fcf8f7,.98);
$bianca: 						rgba(#fcfbf3,.98);
$moon_glow: 					rgba(#fcfeda,.98);
$china_ivory: 					rgba(#fcffe7,.98);
$ceramic: 						rgba(#fcfff9,.98);
$torch_red: 					rgba(#fd0e35,.98);
$wild_watermelon: 				rgba(#fd5b78,.98);
$crusta: 						rgba(#fd7b33,.98);
$sorbus: 						rgba(#fd7c07,.98);
$sweet_pink: 					rgba(#fd9fa2,.98);
$light_apricot: 				rgba(#fdd5b1,.98);
$pig_pink: 						rgba(#fdd7e4,.98);
$cinderella: 					rgba(#fde1dc,.98);
$golden_glow: 					rgba(#fde295,.98);
$lemon: 						rgba(#fde910,.98);
$old_lace: 						rgba(#fdf5e6,.98);
$half_colonial_white: 			rgba(#fdf6d3,.98);
$drover: 						rgba(#fdf7ad,.98);
$pale_prim: 					rgba(#fdfeb8,.98);
$cumulus: 						rgba(#fdffd5,.98);
$persian_rose: 					rgba(#fe28a2,.98);
$sunset_orange: 				rgba(#fe4c40,.98);
$bittersweet: 					rgba(#fe6f5e,.98);
$california: 					rgba(#fe9d04,.98);
$yellow_sea: 					rgba(#fea904,.98);
$melon: 						rgba(#febaad,.98);
$bright_sun: 					rgba(#fed33c,.98);
$dandelion: 					rgba(#fed85d,.98);
$salomie: 						rgba(#fedb8d,.98);
$cape_honey: 					rgba(#fee5ac,.98);
$remy: 							rgba(#feebf3,.98);
$oasis: 						rgba(#feefce,.98);
$bridesmaid: 					rgba(#fef0ec,.98);
$beeswax: 						rgba(#fef2c7,.98);
$bleach_white: 					rgba(#fef3d8,.98);
$pipi: 							rgba(#fef4cc,.98);
$half_spanish_white: 			rgba(#fef4db,.98);
$wisp_pink:						rgba(#fef4f8,.98);
$provincial_pink: 				rgba(#fef5f1,.98);
$half_dutch_white: 				rgba(#fef7de,.98);
$solitaire: 					rgba(#fef8e2,.98);
$white_pointer: 				rgba(#fef8ff,.98);
$off_yellow: 					rgba(#fef9e3,.98);
$orange_white: 					rgba(#fefced,.98);
$red: 							rgba(#ff0000,.98);
$rose: 							rgba(#ff007f,.98);
$purple_pizzazz: 				rgba(#ff00cc,.98);
$magenta_fuchsia:				rgba(#ff00ff,.98);
$scarlet: 						rgba(#ff2400,.98);
$wild_strawberry: 				rgba(#ff3399,.98);
$razzle_dazzle_rose: 			rgba(#ff33cc,.98);
$radical_red: 					rgba(#ff355e,.98);
$red_orange: 					rgba(#ff3f34,.98);
$coral_red: 					rgba(#ff4040,.98);
$vermilion: 					rgba(#ff4d00,.98);
$international_orange: 			rgba(#ff4f00,.98);
$outrageous_orange:				rgba(#ff6037,.98);
$blaze_orange: 					rgba(#ff6600,.98);
$pink_flamingo: 				rgba(#ff66ff,.98);
$orange: 						rgba(#ff681f,.98);
$hot_pink: 						rgba(#ff69b4,.98);
$persimmon: 					rgba(#ff6b53,.98);
$blush_pink: 					rgba(#ff6fff,.98);
$burning_orange: 				rgba(#ff7034,.98);
$pumpkin: 						rgba(#ff7518,.98);
$flamenco: 						rgba(#ff7d07,.98);
$flush_orange: 					rgba(#ff7f00,.98);
$coral: 						rgba(#ff7f50,.98);
$salmon: 						rgba(#ff8c69,.98);
$pizazz: 						rgba(#ff9000,.98);
$west_side: 					rgba(#ff910f,.98);
$pink_salmon: 					rgba(#ff91a4,.98);
$neon_carrot: 					rgba(#ff9933,.98);
$atomic_tangerine:				rgba(#ff9966,.98);
$vivid_tangerine: 				rgba(#ff9980,.98);
$sunshade: 						rgba(#ff9e2c,.98);
$orange_peel: 					rgba(#ffa000,.98);
$mona_lisa: 					rgba(#ffa194,.98);
$web_orange: 					rgba(#ffa500,.98);
$carnation_pink: 				rgba(#ffa6c9,.98);
$hit_pink: 						rgba(#ffab81,.98);
$yellow_orange: 				rgba(#ffae42,.98);
$cornflower_lilac: 				rgba(#ffb0ac,.98);
$sundown: 						rgba(#ffb1b3,.98);
$my_sin: 						rgba(#ffb31f,.98);
$texas_rose: 					rgba(#ffb555,.98);
$cotton_candy: 					rgba(#ffb7d5,.98);
$macaroni_and_cheese: 			rgba(#ffb97b,.98);
$selective_yellow: 				rgba(#ffba00,.98);
$koromiko: 						rgba(#ffbd5f,.98);
$amber: 						rgba(#ffbf00,.98);
$wax_flower: 					rgba(#ffc0a8,.98);
$pink: 							rgba(#ffc0cb,.98);
$your_pink: 					rgba(#ffc3c0,.98);
$supernova: 					rgba(#ffc901,.98);
$flesh: 						rgba(#ffcba4,.98);
$sunglow: 						rgba(#ffcc33,.98);
$golden_tainoi: 				rgba(#ffcc5c,.98);
$peach_orange: 					rgba(#ffcc99,.98);
$chardonnay: 					rgba(#ffcd8c,.98);
$pastel_pink: 					rgba(#ffd1dc,.98);
$romantic: 						rgba(#ffd2b7,.98);
$grandis: 						rgba(#ffd38c,.98);
$gold: 							rgba(#ffd700,.98);
$school_bus_yellow: 			rgba(#ffd800,.98);
$cosmos: 						rgba(#ffd8d9,.98);
$mustard: 						rgba(#ffdb58,.98);
$peach_schnapps: 				rgba(#ffdcd6,.98);
$caramel: 						rgba(#ffddaf,.98);
$tuft_bush: 					rgba(#ffddcd,.98);
$watusi: 						rgba(#ffddcf,.98);
$pink_lace: 					rgba(#ffddf4,.98);
$navajo_white: 					rgba(#ffdead,.98);
$frangipani: 					rgba(#ffdeb3,.98);
$pippin: 						rgba(#ffe1df,.98);
$pale_rose: 					rgba(#ffe1f2,.98);
$negroni: 						rgba(#ffe2c5,.98);
$cream_brulee: 					rgba(#ffe5a0,.98);
$peach: 						rgba(#ffe5b4,.98);
$tequila: 						rgba(#ffe6c7,.98);
$kournikova: 					rgba(#ffe772,.98);
$sandy_beach: 					rgba(#ffeac8,.98);
$karry: 						rgba(#ffead4,.98);
$broom: 						rgba(#ffec13,.98);
$colonial_white: 				rgba(#ffedbc,.98);
$derby: 						rgba(#ffeed8,.98);
$vis_vis: 						rgba(#ffefa1,.98);
$egg_white: 					rgba(#ffefc1,.98);
$papaya_whip: 					rgba(#ffefd5,.98);
$fair_pink: 					rgba(#ffefec,.98);
$peach_cream: 					rgba(#fff0db,.98);
$lavender_blush: 				rgba(#fff0f5,.98);
$gorse: 						rgba(#fff14f,.98);
$buttermilk: 					rgba(#fff1b5,.98);
$pink_lady: 					rgba(#fff1d8,.98);
$forget_me_not: 				rgba(#fff1ee,.98);
$tutu: 							rgba(#fff1f9,.98);
$picasso: 						rgba(#fff39d,.98);
$chardon: 						rgba(#fff3f1,.98);
$paris_daisy: 					rgba(#fff46e,.98);
$barley_white: 					rgba(#fff4ce,.98);
$egg_sour: 						rgba(#fff4dd,.98);
$sazerac: 						rgba(#fff4e0,.98);
$serenade: 						rgba(#fff4e8,.98);
$chablis: 						rgba(#fff4f3,.98);
$seashell_peach: 				rgba(#fff5ee,.98);
$sauvignon: 					rgba(#fff5f3,.98);
$milk_punch: 					rgba(#fff6d4,.98);
$varden: 						rgba(#fff6df,.98);
$rose_white: 					rgba(#fff6f5,.98);
$baja_white: 					rgba(#fff8d1,.98);
$gin_fizz: 						rgba(#fff9e2,.98);
$early_dawn: 					rgba(#fff9e6,.98);
$lemon_chiffon: 				rgba(#fffacd,.98);
$bridal_heath: 					rgba(#fffaf4,.98);
$scotch_mist: 					rgba(#fffbdc,.98);
$soapstone: 					rgba(#fffbf9,.98);
$witch_haze: 					rgba(#fffc99,.98);
$buttery_white: 				rgba(#fffcea,.98);
$island_spice: 					rgba(#fffcee,.98);
$cream: 						rgba(#fffdd0,.98);
$chilean_heath: 				rgba(#fffde6,.98);
$travertine: 					rgba(#fffde8,.98);
$orchid_white: 					rgba(#fffdf3,.98);
$quarter_pearl_lusta: 			rgba(#fffdf4,.98);
$half_and_half: 				rgba(#fffee1,.98);
$apricot_white: 				rgba(#fffeec,.98);
$rice_cake: 					rgba(#fffef0,.98);
$black_white: 					rgba(#fffef6,.98);
$romance: 						rgba(#fffefd,.98);
$yellow: 						rgba(#ffff00,.98);
$laser_lemon: 					rgba(#ffff66,.98);
$pale_canary: 					rgba(#ffff99,.98);
$portafino: 					rgba(#ffffb4,.98);
$ivory: 						rgba(#fffff0,.98);
$white: 						rgba(#ffffff,.98);