.home-header {
    height: 60px;
    display: flex;
    position: fixed;
    width: 100%;
    border-bottom: 1px solid #ccc;
    background-color: #ffffff;
    z-index: 99999 !important;

    .container {
        display: flex;
        width: 100%;
        position: relative !important;

        nav {
            width: 360px;
            max-width: calc(100vw - 40px);
            margin: 20px;
            display: flex;
            flex-direction: column;
            position: fixed;
            top: 60px;
            left: 0;


            ul {
                background-color: #ffffff;
                box-shadow: 0 2px 10px rgba(#323232, .3);
                border: 1px solid #dedede;
                border-radius: 10px;
                list-style-type: none;
                display: table;
                padding: .5rem 0;
                margin: 0;

                li {
                    a {
                        line-height: 60px;
                        display: block;
                        line-height: 60px;
                        padding: 0 2rem;
                        color: #7c7c7c;
                        text-decoration: none;
                        text-transform: uppercase;
                        font-weight: bold;
                        font-size: .9rem;
                    }

                    a:hover {
                        color: $primary-color;
                    }

                    a::after {
                        content: '';
                        display: block;
                        width: 0;
                        height: 3px;
                        background: $primary-color-opacity;
                        transition: width .3s;
                    }
                }
            }

        }


        @media all and (min-width: 576px) {
            nav {
                left: calc((100vw - 540px) / 2) !important;
            }
        }

        @media all and (min-width: 768px) {
            nav {
                left: calc((100vw - 720px) / 2) !important;
            }
        }

        @media all and (min-width: 992px) {
            nav {
                left: calc((100vw - 960px) / 2) !important;
            }
        }

        @media all and (min-width: 1200px) {
            nav {
                left: calc((100vw - 1140px) / 2) !important;
            }
        }

        nav ul li:not(:last-child) a:hover:after {
            width: 100%;
        }

        h1 {
            margin-bottom: 0;
            height: 60px;
            line-height: 60px;
            font-size: 1.5rem;
            flex: 1;
            font-weight: 600;
            display: flex;

            button {
                margin-right: 10px;
            }

            span.screen-large {
                display: none;
            }

            @media screen and (min-width: 960px) {
                span.screen-large {
                    display: block !important;
                }

                span.screen-small {
                    display: none !important;
                }
            }


        }

        a.btn.circle {
            margin: 10px 0;
        }
    }
}

.home-content {
    min-height: calc(100vh - 61px);
    padding-top: 60px;

    .home-introduction,
    .home-about,
    .home-system {
        background-color: $primary-color;
        min-height: calc(100vh - 61px);
        color: #fff;
        padding: 2rem 0;

        .col {
            display: flex;
            align-items: center;

            .col-container {
                padding: 2rem 0;
            }

            p {
                font-size: 1.2rem;
            }
        }

        h1 {
            font-weight: bold;
            font-size: 2rem;
        }
    }

    .home-about {
        background-color: $white-color;
        color: #333;
    }

	.home-system {
		background-color: $primary-color;
		color: $white-color;
	}

    .home-pricing {
        min-height: calc(100vh - 60px);
        padding: 2rem 0 50px;

        .container>div:first-of-type {
            padding: 0 10%;
            text-align: center;
            margin-bottom: 4rem;

            p {
                font-size: 1.2rem;
            }
        }

        .container .row .col .pricing-card {
            background-color: #fff;
            box-shadow: 0 3px 15px rgba(#333, .3);
            overflow: hidden;
            border-radius: 30px;

            header {
                text-align: center;
                background-color: #323232;
                color: #fff;
                padding: 2rem 2rem 1rem;

                h1 {
                    font-weight: bold;
                    border-bottom: 2px solid rgba($white-color, .5);
                    padding: 20px 0;
                }

                h2 {
                    font-weight: bold;
                    font-size: 4rem;
                    margin-bottom: 0;
                    color: #fbfbfb;
                }

            }

            section::before {
                content: "";
                position: absolute;
                border: 30px solid transparent;
                border-top-color: #333;
                top: -1px;
                left: 50%;
                transform: translateX(-50%);
            }

            section {
                position: relative;
                padding: 3rem 1rem 1rem;

                ul li {
                    font-size: 1.3rem;
                }
            }

            footer {
                padding: 0 1rem 1rem;
            }
        }

        .container .row .col:nth-of-type(2) {
            transform: scale(1.1, 1.1);
            z-index: 100;
        }


        .container .row .col .pricing-card-success {
            header {
                background-color: $success-color !important;
            }

            section::before {
                border-top-color: $success-color;
            }
        }

        .container .row .col .pricing-card-danger {
            header {
                background-color: $danger-color !important;
            }

            section::before {
                border-top-color: $danger-color;
            }
        }

        .container .row .col .pricing-card-info {
            header {
                background-color: $info-color !important;
            }

            section::before {
                border-top-color: $info-color;
            }
        }
    }

    .home-contact {
        padding: 2rem 0 50px;
        background-color: $primary-color;

        .container>div:first-of-type {
            padding: 0 10%;
            text-align: center;
            margin-bottom: 4rem;
            color: $white-color;

            p {
                font-size: 1.2rem;
            }
        }
    }

    @media all and (min-width: 960px) {

        .home-introduction,
        .home-about {
            padding: 100px 0;

            .col h1 {
                font-size: 2.5rem;
            }
        }

        .home-pricing {
            padding: 50px 0 100px;
        }

        .home-contact {
            padding: 50px 0;
        }
    }


}

.home-footer {
    width: 100%;
    height: 60px;
    border-top: 1px solid #ccc;

    p:last-of-type {
        display: flex;
        margin: 0;
        justify-content: center;
        align-items: center;
        height: 60px;
    }

    @media all and (min-width: 960px) {
        p:last-of-type {
            display: flex;
            margin: 0;
            justify-content: flex-start;
            align-items: center;
            height: 60px;
        }
    }
}
