.home-header {
    height: 60px;
    padding: 0 5%;
    display: flex;
    position: fixed;
    width: 100%;
    border-bottom: 1px solid #ccc;
    background-color: #ffffff;
    z-index: 99999 !important;

    nav {
        width: 300px;
        max-width: calc(100vw - 20px);
        margin: 20px;
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 60px;
        left: 0;


        ul {
            background-color: #ffffff;
            box-shadow: 0 2px 10px rgba(#323232, .3);
            border: 1px solid #dedede;
            border-radius: 10px;
            list-style-type: none;
            display: table;
            padding: .5rem 0;
            margin: 0;

            li {
                a {
                    line-height: 60px;
                    display: block;
                    line-height: 60px;
                    padding: 0 2rem;
                    color: #7c7c7c;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-weight: bold;
                    font-size: .9rem;
                }

                a:hover {
                    color: $primary-color;
                }

                a::after {
                    content: '';
                    display: block;
                    width: 0;
                    height: 3px;
                    background: $primary-color-opacity;
                    transition: width .3s;
                }
            }
        }

    }

    nav ul li:not(:last-child) a:hover:after {
        width: 100%;
    }

    h1 {
        margin-bottom: 0;
        height: 60px;
        line-height: 60px;
        font-size: 1.5rem;
        flex: 1;
        font-weight: bold;

        i {
            width: 40px;
            height: 40px;
            display: flex;
            margin: 10px 0;
            border-radius: 50%;
            line-height: 40px;
            text-align: center;
            justify-content: center;
            float: left;
            background-color: $primary-color-opacity;
            margin-right: 10px;
            cursor: pointer;
        }

        span.screen-large {
            display: none;
        }

		@media screen and (min-width: 960px) {
			span.screen-large {
				display: block !important;
			}

			span.screen-small {
				display: none !important;
			}
		}


    }

    a.btn.circle {
        margin: 10px 0;
    }
}



.home-content {
    background-color: #ffffff;
    width: 100%;
    min-height: calc(100vh - 60px);
    padding-top: 60px;

    .home-introduction {
        width: 100%;
        min-height: calc(100vh - 60px);
        background-color: $primary-color-lighten;
        padding: 100px 5%;
        color: $white_color;

        h1 {
            text-transform: uppercase;
            font-weight: bold;
            font-size: 2.5rem;
        }

    }

    @media screen and (min-width: 960px) {
        .home-introduction {
            padding: 100px 2rem !important;
        }
    }
}

.home-footer {
    width: 100%;
    height: 60px;
    padding: 0 5%;
    border-top: 1px solid #ccc;

    p:last-of-type {

        display: flex;
        margin: 0;
        justify-content: center;
        align-items: center;
        height: 60px;
    }
}

@media screen and (min-width: 960px) {
    .home-footer {
        padding: 0 2rem !important;
    }
}

@media (min-width: 960px) {
    .home-header {
        padding: 0 2rem !important;
    }
}
