@import "modules/_variables";
@import "modules/_mixins";

@import 'modules/_reset';
@import 'modules/_tables';
@import 'modules/_forms';
@import 'modules/_home';
@import 'modules/_auth';
@import 'modules/_navbar';

@import "modules/plugins/plugin-perfect-scrollbar";
@import "modules/plugins/plugin-nprogress";

// Core CSS
@import "modules/buttons";
@import "modules/social-buttons";
@import "modules/animated-buttons";
@import "modules/typography";
@import "modules/misc";
@import "modules/misc-extend";
@import "modules/navbar";
@import "modules/dropdown";
@import "modules/alerts";
@import "modules/images";
@import "modules/tables";
@import "modules/footers";

// components
@import "modules/checkboxes-radio";
@import "modules/progress";
@import "modules/badges";
@import "modules/pagination";
@import "modules/info-areas";
@import "modules/pills";
@import "modules/tabs";
@import "modules/modals";
@import "modules/sidebar-and-main-panel";
@import "modules/timeline";

// cards
@import "modules/cards";
@import "modules/cards/card-chart";
@import "modules/cards/card-map";
@import "modules/cards/card-user";

@import "modules/cards/card-background";
@import "modules/cards/card-collapse";
@import "modules/cards/card-contributions";
@import "modules/cards/card-info-area";
@import "modules/cards/card-lock";
@import "modules/cards/card-pricing";
@import "modules/cards/card-profile";
@import "modules/cards/card-plain";
@import "modules/cards/card-signup";
@import "modules/cards/card-stats-mini";
@import "modules/cards/card-stats";
@import "modules/cards/card-subcategories";
@import "modules/cards/card-testimonials";
@import "modules/cards/card-tasks";

// example pages and sections
@import "modules/example-pages";
@import "modules/sections";

@import "modules/responsive";
@import "modules/media-queries";

